.gridContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 1177px;
  max-width: 100%;
  margin: auto;
}

.gridItem {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  text-align: center;
  align-items: center;
  border-right: 1px solid var(--lightgrey);
  max-width: 100%;
  width: 300px;
}

.gridItem p {
  margin-top: 0;
  font-size: 14px;
}

.gridContainer h3 {
  margin: 14px 0;
}

.gridItem span {
  margin: 10px 0;
  color: var(--color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.gridItem a {
  font-weight: bold;
  display: flex;
}

.gridItem i {
  margin-left: 5px;
  margin-top: 7px;
}

.gridContainer div:nth-child(4) {
  border: 0;
}

@media (max-width: 768px) {
  .gridContainer {
    flex-direction: column;
  }
  .gridItem {
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    text-align: center;
    margin-bottom: var(--padding4);
  }
  .gridContainer div:nth-child(4) {
    margin-bottom: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .gridContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gridContainer div:nth-child(4) {
    margin-bottom: 4rem;
  }
  .gridItem {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
