.topImage {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/main.jpg");
  background-size: cover;
  background-position: bottom;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.content {
  padding: 0 1rem var(--padding8) 1rem;
}

.topImage h1 {
  color: white;
  margin-bottom: 0;
}

.title {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: var(--padding8);
  max-width: 100%;
}

.title h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.title h1 {
  margin-bottom: 1rem;
}

.title p {
  padding-bottom: var(--padding8);
  margin: auto;
}

@media (max-width: 768px) {
  .title p {
    padding-bottom: var(--padding4);
  }
  .title {
    padding-top: var(--padding4);
  }
  .content {
    padding: 0 1.5rem var(--padding8) 1.5rem;
  }
  .topImage {
    padding: 6rem 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    padding-left: var(--padding2);
    padding-right: var(--padding2);
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
