.topImage {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/tire.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

.content {
  padding: 0 1rem var(--padding8) 1rem;
}

.topImage h1 {
  color: white;
  margin-bottom: 0;
}

.title {
  text-align: center;
  padding-top: var(--padding8);
}

.title h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.title h1 {
  margin-bottom: 1rem;
}

.title p {
  padding-bottom: var(--padding8);
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .title p {
    width: 100%;
  }
  .title p {
    padding-bottom: var(--padding4);
  }
  .title {
    padding-top: var(--padding4);
  }
  .content {
    padding: 0 1rem var(--padding8) 1rem;
  }
}
