.sectionThree {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding8) 1rem;
}

.title {
  text-align: center;
}

.title h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.title h1 {
  margin-bottom: 1rem;
}

.title p {
  padding-bottom: var(--padding4);
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .title p {
    width: 100%;
  }
  .sectionThree {
    padding: var(--padding4) 1rem;
  }
}
