.sectionThree {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding8) 1rem;
}

.title {
  text-align: center;
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.title h1 {
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title p {
  padding-bottom: var(--padding4);
  margin: auto;
}

.subTitle p {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

@media (max-width: 768px) {
  .sectionThree {
    padding: var(--padding4) 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .sectionThree {
    padding: var(--padding4) 1rem 2rem 1rem;
  }
}
