.sectionThree {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding8) 1rem;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content {
  display: flex;
  width: auto;
  margin: auto;
  max-width: 100%;
}

.buttons {
  margin: 0 auto var(--padding4) auto;
}

.active {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  line-height: 1.2;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: -0.24px;
  font-size: 18px;
  color: #0f2137;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgb(38 78 118 / 10%);
}

.button {
  transition: 350ms ease-out;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  line-height: 1.2;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: -0.24px;
  font-size: 18px;
  color: #0f2137;
  background-color: transparent;
}

.buttons span {
  padding: 1.4rem 1rem;
  background-color: #f7f8fb;
  border-radius: 5px;
}

.title {
  text-align: center;
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.title h1 {
  margin-bottom: var(--padding4);
}

.title p {
  margin: auto;
}

.subTitle p {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

@media (max-width: 768px) {
  .sectionThree {
    padding: var(--padding4) 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .sectionThree {
    padding: var(--padding4) 1rem 2rem 1rem;
  }
}
