.openingHours {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.content {
  padding: 2rem 0 1rem 0;
}

.content p,
h3 {
  margin: 0 5px;
}

.content ul {
  padding: 0;
}

.content li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.openingHours h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-align: center;
}

.openingHours h2 {
  text-align: center;
  margin-top: 0;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .openingHours {
    margin-bottom: 18.5rem;
  }
}

@media (max-width: 768px) {
  .openingHours h1 {
    font-size: 2.2rem;
  }
}
