.contactBtn {
  cursor: pointer;
  background-color: var(--color);
  display: flex;
  width: 180px;
  height: 60px;
  padding: 18px 39px;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactBtn a {
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  outline: 0;
  margin: 1rem;
}

.contactBtn i {
  font-size: 1.1rem;
  color: white;
}

.contactBtn span:hover {
  background-color: var(--dark);
}
