.text {
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
  width: 600px;
}

.text a {
  padding: 0;
  margin: 1rem;
}

.text h1 {
  font-size: 4.5rem;
  margin: 0;
  margin-bottom: 2rem;
  color: white;
  line-height: 1;
}

.text p {
  color: white;
}

.buttons {
  display: flex;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
  }
  .text {
    padding: 1rem;
    margin: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .text {
    padding: 2rem;
    margin-right: 0;
  }
}
