.smallSlider {
  height: 300px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content h2 {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

@media (max-width: 768px) {
  .smallSlider {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--padding4) 1.5rem 0 1.5rem;
  }
  .content h2 {
    margin: 0 0 2rem 0;
  }
  .buttons {
    margin: 1rem 1rem var(--padding4) 1rem;
  }
  .image {
    display: none;
  }
}
