.sidebarWrapper {
  padding: 1rem;
  height: 25px;
  z-index: 2;
  display: none;
}

.sidebarWrapper i {
  position: fixed;
  cursor: pointer;
  color: var(--color);
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 15px;
  position: fixed;
}

.sidebarActive i {
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  position: fixed;
  right: 15px;
  top: 15px;
}

.sidebarActive {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: 0.9;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebarActive a,
.sidebarActive li {
  font-size: 1.4rem;
  text-decoration: none;
  list-style: none;
  color: var(--white);
  margin: 1rem 0;
}

.sidebarActive ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sideBarLinks {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .sidebarWrapper {
    display: flex;
  }
}
