.headingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingBtn a {
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: var(--color);
  text-decoration: none;
  color: var(--white);
  margin: 5px;
  font-size: 1.2rem;
}

.headingBtn a:hover {
  background-color: var(--dark);
  color: var(--white);
}

.moreInfoComponent h1 {
  text-align: center;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .moreInfoComponent h1 {
  }
}
