.box {
  margin-left: 6rem;
  background-color: var(--white);
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.boxHeader {
  display: flex;
}

.boxHeader > div {
  height: 50px;
  width: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: var(--dark);
}

.box2 {
  background-color: var(--dark);
}

.box2 h3,
.box1 h3 {
  color: var(--white);
}

.activeBox {
  background-color: var(--white);
  color: var(--white);
}

.priceList {
  padding: 2rem;
}

.box span {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 2rem auto 0 auto;
  padding: 5px;
  width: 50%;
  background-color: var(--color);
  display: flex;
  border-radius: 4px;
}

.box a {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bolder;
  color: var(--white);
  text-decoration: none;
}

.box i {
  padding-left: 10px;
  font-size: 1.7rem;
  color: var(--white);
}

.box span:hover {
  color: var(--white);
  background-color: var(--dark);
}

.box span:hover a {
  color: var(--white);
}

.box span:hover i {
  color: var(--white);
}

@media (max-width: 768px) {
  .box {
    width: 95%;
    margin: 5px auto;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .box {
    padding: 0;
    margin: 0;
  }
}
