.topImage {
  height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../images/wash.jpg");
  background-size: cover;
  background-position: center;
}

.appointment h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-align: center;
}

.appointment h2 {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 768px) {
  .appointment h1 {
    font-size: 2.2rem;
  }
}
