.contactBtn {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  width: 200px;
  height: 60px;
  padding: 18px 39px;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  align-items: center;
  border-radius: 50px;
}

.contactBtn a {
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  outline: 0;
}

.contactBtn span:hover {
  background-color: var(--dark);
}
