.contactBtn {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  margin: 0 0 0 10px;
  padding: 20px 32px;

  justify-content: center;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  align-items: center;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  outline: 0;
  transition: 300ms ease-out;
}

.contactBtn i {
  margin-left: 1.5rem;
}

.contactBtn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .contactBtn {
    margin-left: 0;
  }
}
