.contactBtn {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  height: 60px;
  width: 200px;
  margin: 0 0 0 10px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  align-items: center;
  border-radius: 40px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  outline: 0;
}

.contactBtn i {
  margin-left: 1.5rem;
}

.contactBtn span:hover {
  background-color: var(--dark);
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .contactBtn {
    margin: 0 0 0 10px;
    padding: 0;
  }
}
