.topImage {
  height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://static.wixstatic.com/media/061672f3876a43099e48f6576962fe4d.jpg/v1/fill/w_1903,h_480,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/061672f3876a43099e48f6576962fe4d.webp");
  background-size: cover;
  background-position: center;
}

.tires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  border: 1px solid var(--color);
  margin: 2rem;
  background-color: var(--color);
}

.icon i {
  color: var(--white);
  font-size: 6rem;
  padding: 2rem;
}

.content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.title h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.title h2 {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: 1rem 0;
  }
  .title h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  .text p {
    width: 90%;
    margin: 1rem auto;
  }
  .icon {
    margin: 1rem 0 0 0;
  }
  .icon i {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .content {
    width: 80%;
  }
}
