.sectionTwo {
  padding-top: 1rem;
  display: flex;
  justify-self: center;
  align-items: center;
}

.content {
  margin: auto;
}

.heading h1 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
}

.content img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.2rem;
  }
  .heading {
    text-align: center;
  }
  .content img {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .heading {
    padding: 0 2rem;
  }
}
