.sectionOne {
  height: auto;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../images/four.jpg");
  background-size: cover;
  background-position: center;
  padding: var(--padding6) 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .sectionOne {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding: var(--padding4) 0;
  }
}
