.sectionOne {
  height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../images/test.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .sectionOne {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }
}
