.bigSlider {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.image {
  width: 50%;
  background-image: url("../../../images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.text {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content {
  padding: 6rem 5rem;
  width: 100%;
  max-width: 100%;
}

.content p,
.content h1 {
  color: var(--white);
}

.content h1 {
  margin-bottom: 1rem;
}

.buttons {
  margin-top: 3rem;
  display: flex;
}

@media (max-width: 768px) {
  .bigSlider {
    flex-direction: column;
    height: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: var(--padding4) 1.5rem;
  }
  .content p {
    text-align: center;
  }
  .content h1 {
    text-align: center;
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .text {
    width: 100%;
  }
  .image {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
