.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  background-color: black;
  padding: 1rem 4rem;
}

.content {
  display: flex;
}

.header p {
  margin: 0;
  padding: 0;
  color: white;
}

.top p {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.logo img {
  object-fit: cover;
  object-position: center;
  width: 100px;
}

.logo h1 {
  color: var(--color);
  font-weight: 800;
  font-size: 2.2rem;
  margin: 0 0 0 5px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact,
.logo {
  display: flex;
}

.contact {
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 0 1rem;
  text-align: center;
}

.contact a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0 0 2rem 0;
  }
  .content div:nth-child(3) {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .contact {
    margin-top: 1.5rem;
  }
  .contact p {
    font-size: 15px;
  }
}
