.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.content {
  display: flex;
}

.header p {
  margin: 0;
  padding: 0;
}

.header h4 {
  color: black;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.logo img {
  width: 250px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.logo h1 {
  color: var(--color);
  font-weight: 800;
  font-size: 2.2rem;
  margin: 0 0 0 5px;
}

.logo span {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact,
.logo {
  display: flex;
  justify-content: center;
}

.contact {
  border-right: 1px solid var(--lightgrey);
  flex-direction: column;
  display: flex;
  padding: 0 1rem;
  text-align: center;
}

.contact span h4 {
  padding-left: 0.5rem;
}

.contact span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .content {
    width: 100%;
    background: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact {
    padding: 5px 5px;
  }
  .contact span h4 {
    font-size: 0.8rem;
    padding: 0;
  }
  .contact p {
    display: none;
  }
  .contact i {
    display: none;
  }
}
