.gridContainer {
  padding: 0 0 var(--padding8) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 400px;
  margin: 0 2rem;
}

.card h3 {
  letter-spacing: 0.5px;
  line-height: 1.83em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
}

.card p {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color);
}

.card img {
  max-width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.gridItem p {
  margin: 0;
}

.topImage h1 {
  color: white;
  margin-bottom: 0;
}

.title {
  text-align: center;
  padding: var(--padding8) 1rem 0 1rem;
}

.title h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.title h1 {
  margin-bottom: 1rem;
}

.title p {
  padding-bottom: var(--padding4);
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .title p {
    width: 100%;
  }
  .title {
    padding: var(--padding4) 1rem 0 1rem;
  }
  .card {
    margin: 0 0 var(--padding4) 0;
  }
  .gridContainer div:nth-child(4) {
    margin-bottom: 0;
  }
  .gridContainer {
    padding-bottom: var(--padding8);
  }
}
