.topImage {
  height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://static.wixstatic.com/media/a97e061145b949f2a04b0ccc70171613.jpg/v1/fill/w_1903,h_480,al_c,q_85,usm_0.66_1.00_0.01/a97e061145b949f2a04b0ccc70171613.webp");
  background-size: cover;
  background-position: center;
}

.supplier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  padding: 4rem 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border: 1px solid var(--lightgrey);
  margin: 5px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem img {
  object-position: center;
  object-fit: cover;
  width: 150px;
  flex-wrap: wrap;
}
