.gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.gridItem {
  background-image: url("../../images/black.jpg") !important;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(53, 53, 53, 0.16) 0px 1px 4px;
  margin: 1.5rem 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 2rem 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content > div {
  width: 33%;
  min-height: 300px;
}

.heading,
.text {
  background-color: rgba(26, 25, 25, 0.5);
}

.heading h2 {
  color: var(--white);
  padding: 2rem 2rem 0 2rem;
}

.heading span h3 {
  padding: 5px 10px;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  width: 160px;
  background-color: var(--color);
  color: var(--white);
}

.heading p {
  padding: 0 2rem;
  color: var(--white);
}

.image img {
  min-height: 300px;
  width: 100%;
  margin-top: 4px;
  object-position: center;
  object-fit: cover;
}

.text p {
  padding: 0 2rem;
  color: var(--white);
}

.text h2 {
  padding: 2rem 2rem 0 2rem;
  color: var(--white);
}

.headingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgba(26, 25, 25, 0.5);
  margin-top: 80px;
}

.headingBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 130px;
  height: 50px;
  font-size: 1.2rem;
  background-color: var(--white);
  text-decoration: none;
  color: var(--dark);
  margin: 5px !important;
}

.headingBtn a:hover {
  background-color: var(--color);
  color: var(--white);
}

@media (max-width: 768px) {
  .gridContainer {
    padding: 0;
  }
  .content {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .content > div {
    padding: 0;
    width: 100%;
    min-height: 200px;
  }
  .content h2 {
    padding-top: 1rem;
  }
  .headingBtn {
    margin-top: 2rem;
  }
  .text p {
    padding: 0 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .openingHours {
    margin-bottom: 18.5rem;
  }
}
