.logo img {
  width: 100px;
  height: 100px;
  border-radius: 100vh;
  object-fit: cover;
  object-position: center;
}

.logo h1 {
  color: var(--color);
  font-weight: 800;
  font-size: 2.2rem;
  margin: 0 0 0 5px;
}

.logo span {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.about p {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
}

.about p {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

.icons {
  margin-top: 2rem;
}

.icons img {
  margin-right: 10px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .about p {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .about p {
    width: 100%;
  }
  .about {
    margin: 0 2rem 0 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .about {
    margin: 0 2rem 0 2rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .about {
    margin: 0 2rem 0 2rem;
  }
}
