.footer {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  margin: auto;
}

.footer h1 {
  color: var(--black);
}

.border {
  text-align: center;
  border-top: 1px solid white;
  background-color: transparent;
  width: 90%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border h4 {
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
