.openingHours ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.openingHours li {
  border-bottom: 1px solid var(--lightblue);
  margin-bottom: 5px;
}

.openingHours p {
  font-weight: 400;
}

.openingHours span {
  justify-content: space-between;
  display: flex;
}
