.openingHours ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.openingHours li {
  margin-bottom: 2.5px;
  display: flex;
}

.openingHours span {
  margin-right: 10px;
  width: 100px;
}

.openingHours p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
}

.openingHours h3 {
  color: white;
}

.openingHours span {
  display: flex;
}
