.topImage {
  height: 400px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../images/tire.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.topImage h1 {
  color: white;
}

.title {
  text-align: center;
  padding-top: var(--padding8);
}

.title h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.title p {
  padding-bottom: var(--padding4);
  width: 50%;
  margin: auto;
}

.mainServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--padding8);
}
