.topImage {
  height: auto;
  width: 100%;
  padding: 10rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/hands.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.topImage h1 {
  color: white;
  margin-bottom: 0;
}

.title,
.title2 {
  width: 800px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.title2 {
  padding-top: var(--padding8);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  justify-content: center;
  width: 1177px;
  flex-direction: column;
  max-width: 100%;
  padding: var(--padding8) 1rem var(--padding4) 1rem;
}

.title h4,
.title2 h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color);
}

.title h1,
.title2 h1 {
  margin-bottom: 1rem;
}

.title p {
  padding-bottom: var(--padding4);
  margin: auto;
}

.title2 p {
  padding-bottom: 0;
}

.mainServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 var(--padding8) 0;
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    padding: var(--padding4) 1rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .title2 {
    padding-top: var(--padding4);
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
