.text {
  width: 100%;
  margin-left: 4rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.text img {
  margin-right: 2rem;
}

.text p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .text {
    width: 100%;
    margin-left: 0;
  }
  .card {
    flex-direction: column;
    text-align: center;
    margin: var(--padding4) 0;
  }
  .text img {
    margin: 0 0 2rem 0;
  }
  .text h2 {
    text-align: center;
    margin-top: 2rem;
  }
}
