.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: var(--padding8);
  max-width: 100%;
  width: 1177px;
  margin: auto;
}

.content {
  display: flex;
  justify-content: center;
  margin: auto;
}

.image {
  margin-right: 4rem;
  max-width: 100%;
  width: 600px;
}

.icons {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 50%;
}

.image img {
  height: 500px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.subTitle p {
  margin: 1rem 0 2rem 0;
}

.subTitle h2 {
  margin-bottom: 0;
  line-height: 1.2;
  width: 80%;
}

.text li {
  color: var(--dark);
  display: flex;
  align-items: center;
  padding: 0 0 1rem 0;
  margin: 0;
}

.text ul {
  padding: 0;
  margin: 0;
}

.text li:nth-child(4) {
  padding: 0;
}

.icons i {
  color: green;
  margin-right: 1rem;
  font-size: 1rem;
}

.buttons {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .image {
    width: 100%;
    margin: 0;
  }
  .text {
    padding-bottom: 3rem;
  }
  .subTitle h2 {
    width: 100%;
  }
  .image img {
    width: 100%;
    height: 100%;
  }
  .heading {
    margin-top: 2rem;
  }
  .content p {
    line-height: 1.4;
  }
  .subTitle {
    text-align: center;
  }
  .buttons {
    margin-left: auto;
    margin-right: auto;
  }
  .icons {
    width: 100%;
  }
  .icons ul {
    margin: auto;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    flex-direction: row;
  }
  .subTitle {
    text-align: left;
  }
  .buttons {
    margin-left: 0;
    margin-right: 0;
  }
  .text {
    padding-bottom: var(--padding8);
  }
  .icons ul {
    margin-left: 0px;
  }
  .image {
    margin-right: 2rem;
  }
  .subTitle h2 {
    width: 100%;
  }
  .image img {
    height: 300px;
  }
  .heading {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .image {
    margin-right: 4rem;
  }
  .image img {
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .image {
    margin-right: 2rem;
  }
  .subTitle h2 {
    width: 100%;
  }
  .image img {
    height: 350px;
  }
}
