.text {
  display: flex;
  align-items: center;
}

.icons {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text span {
  color: var(--dark);
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.icons i {
  color: var(--color);
  margin-right: 1rem;
  font-size: 1.9rem;
  padding: 5px;
}

@media (max-width: 768px) {
  .text {
    flex-direction: column;
    width: 100%;
  }
  .icons {
    padding: 5px;
  }
  .heading h1 {
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .text {
    padding: 0 2rem;
  }
}
