.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.content {
  display: flex;
}

.image img {
  max-width: 100%;
}

.image img {
  width: 600px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.heading h3 {
  font-size: 2.5rem;
}

.heading h3:nth-child(1) {
  line-height: 1;
  margin-bottom: 0;
}

.heading h3:nth-child(2) {
  color: var(--color);
  margin-bottom: 2rem;
}

.icons {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.text span {
  color: var(--dark);
  display: flex;
  align-items: center;
  padding: 0 0 1.5rem 0;
}

.text span:nth-child(5) {
  padding: 0;
}

.icons i {
  color: var(--color);
  margin-right: 1rem;
  font-size: 1.9rem;
}

.buttons i {
  color: white;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .text {
    flex-direction: column;
    width: 100%;
  }
  .icons {
    padding: 5px;
  }
  .heading h2 {
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .text {
    padding: 0 2rem;
  }
}
