@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap");

:root {
  --grey: #7f888f;
  --lightgrey: rgb(241, 241, 241);
  --dark: rgb(31, 31, 31);
  --black: (#19170d);
  --white: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --color: #c92d27;
}

.App {
  position: relative;
  bottom: -22px;
}

body {
  background-color: var(--white);
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  bottom: -10;
}

h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2.7px;
}

p {
  font-family: "Encode Sans", sans-serif;
  font-size: 1.1rem;
  color: var(--dark);
}

h2 {
  color: var(--dark);
  font-size: 1.6rem;
}

h4 {
  color: var(--dark);
  font-size: 1.1rem;
}

h3 {
  color: var(--dark);
  font-size: 1.5rem;
}
