.nav {
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--color);
  padding: 0;
  max-width: 100%;
}

.links {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border-top: 1px solid #3e3e3e;*/
  width: 1300px;
}

.restofLinks li {
  display: flex;
}

.restofLinks li:nth-child(1) {
  border: 0;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.links a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 21px 15px;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  transition: 100ms ease-out;
  margin-right: 5px;
}

.links a:focus {
  background-color: black;
}

.links a:hover {
  background-color: black;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .links a {
    font-size: 12px;
    margin: 0 14px;
  }
  .nav {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .links a {
    font-size: 12px;
  }
}
